@import "@material/textfield/mdc-text-field";

body {
  margin: 0px;
}

#contentArea {
  margin-left: 24px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
